@import "tailwindcss";

@theme {
  --font-sans: var(--font-quicksand), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: var(--font-cormorant), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

  --color-primary-dark: #000000;
  --color-primary-light: #ffffff;
  --color-accent-blue: #3B82F6;
  --color-accent-gray: #F2F2F2;
  --color-text-main: #181818;
}

body {
  background-color: var(--color-primary-light);
  color: var(--color-text-main);
}
